<footer class="main-footer">
    <div class="container" id="footer-container">
        <div class="row">
            <div class="col span_6">
                <p>Félix Fouillet - Copyright © 2018 - {{ "now"|date("Y") }}</p>
            </div>
        </div>
    </div>
</footer>