<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <title>{% block title %}Félix Fouillet - Développeur Web Symfony & Wordpress Chambéry{% endblock %}</title>
        <meta name="description" content="Je m'apelle Félix Fouillet, je suis Développeur Web Symfony & Wordpress en Savoie, à Chambéry et aux alentours. N'hésitez pas à me contacter !"/>
        <meta name="keywords" content=""/>
        <meta name="author" content="Félix Fouillet"/>

        {%  include 'fx/index_page_elements/assets/css_js_in_head.html.twig' %}

        <link rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {%  include 'fx/index_page_elements/assets/js_before_body_end.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
