{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper vcard">
        <!-- PAGE LOADER-->
        {%  include 'fx/page_elements/page_loader.html.twig' %}
        <!-- END PAGE LOADER-->

        <!-- BEGIN NAV-->
        {%  include 'fx/page_elements/menu.html.twig' %}
        <!-- END NAV-->

        <!-- BEGIN CONTENT-->
        <div class="main-content">

            <!-- BEGIN ABOUT SECTION-->
            {%  include 'fx/page_elements/content/about_section.html.twig' %}
            <!-- END ABOUT SECTION-->

            <!-- BEGIN SKILLS SECTION-->
            {%  include 'fx/page_elements/content/skills_section.html.twig' %}
            <!-- END SKILLS SECTION-->

            <!-- BEGIN PORTFOLIO SECTION-->
            {%  include 'fx/page_elements/content/portfolio_section.html.twig' %}
            <!-- END PORTFOLIO SECTION-->

            <!-- BEGIN PARCOURS SECTION-->
            {%  include 'fx/page_elements/content/parcours_section.html.twig' %}
            <!-- END RESUME SECTION-->

            <!-- BEGIN CONTACTS SECTION-->
            {%  include 'fx/page_elements/content/contacts_section.html.twig' %}
            <!-- END CONTACTS SECTION-->
        </div>
        <!-- END CONTENT-->

        <!-- BEGIN FOOTER-->
        {%  include 'fx/page_elements/footer.html.twig' %}
        <!-- END FOOTER-->
    </div>
{% endblock %}