<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Nouveau mail depuis ffouillet.fr</h1>
        <ul>
            <li>Email de : {{ mailSenderName }}</li>
            <li>Adresse email : {{ mailSenderEmailAddress }}</li>
        </ul>

        <p>
            Message :<br/>
            {{ mailBody }}
        </p>
    </body>
</html>