<nav class="main-nav">
    <div class="container">
        <ul>
            <li><a href="#about">Accueil</a></li>
            <li><a href="#services">Competences</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#resume">Parcours</a></li>
            <!-- <li><a href="#testimonials">Testimonials</a></li> -->
            <li><a href="#contacts">Contact</a></li>
            <!-- <li><a href="http://themeforest.net/item/persona-responsive-html5-vcard-template/4703239" class="external">Get it</a></li> -->
        </ul>
    </div>
    <div class="main-nav-trigger"></div>
</nav>