<section id="about" class="site-section about-section styled-section">
    <div class="intro">
        <div class="intro-slideshow">
            <div style="background-image: url({{asset('assets/template/images/developpeur-web-conception-site.jpg')}});" class="slide"></div>
            <div style="background-image: url({{asset('assets/template/images/ordinateur-code-css.jpg')}});" class="slide"></div>
            <div style="background-image: url({{asset('assets/template/images/creation-sites-internet.jpg')}});" class="slide"></div>
        </div>
        <div class="intro-inner">
            <div class="container">
                <h1 class="fn">Félix Fouillet</h1>
                <h3 class="category">Développeur Php - Symfony / Wordpress</h3>
                <div class="center">
                    <a href="#contacts" class="btn-bordered btn-scroll">Me contacter</a>
                    <a href="#" class="btn-bordered">Curriculum Vitae</a>
                    <a href="https://github.com/ffouillet" class="fx-fa-btn-bordered btn-bordered"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/f%C3%A9lix-fouillet-6435aa164/" id="fx-fa-btn-bordered-linkedin" class="btn-bordered"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="about row-t">
            <div class="col">
                <div class="site-photo"><img src="{{  asset('assets/template/images/photo.jpg') }}" width="250" height="250" alt="Photo" class="photo"/></div>
            </div>
            <div class="col">
                <h3>Bonjour ! </h3>
                <div class="separator l"></div>
                <blockquote>
                    <p>Je m'apelle Félix Fouillet, j'ai commencé le développement web en 2012 en créant un <br/>jeu vidéo en ligne de A à Z. L'informatique est ma passion depuis toujours et c'est en réalisant mon premier projet que j'ai pris goût à la programmation.<br/>Depuis, j'ai pu réaliser plusieurs sites et applications web visibles dans mon portfolio.</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>