<section id="contacts" class="site-section contacts-section">
    <header class="heading">
        <h2>Contacts</h2>
    </header>
    <div class="contacts">
        <div id="map" data-lat="-37.817314" data-lng="144.955431" class="map"></div>
        <div class="contacts-inner">
            <div class="container">
                <div class="row">
                    <div class="col span_2"><i class="fa fa-phone"></i>
                        <p>Tel: <span class="tel">+61 3 8376 6284<br></span>Skype: john.doe</p>
                    </div>
                    <div class="col span_2"><i class="fa fa-map-marker"></i>
                        <address><span class="adr"><span class="country-name">France</span>,<span class="locality">Chambéry</span>,<br><!--<span class="street-address">121 King Street</span>--></span></address>
                    </div>
                    <div class="col span_2"><i class="fa fa-send"></i>
                        <p><a href="mailto:mail@yoursite.com" class="email">mail@yoursite.com <br></a><a href="mailto:john.doe@ygmail.com" class="email">john.doe@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>