<section id="resume" class="site-section resume-section">
    <div class="container">
        <header class="heading">
            <h2>Parcours</h2>
        </header>
        <div class="row">
            <div class="col span_3">
                <h3>Formations</h3>
                <div class="exp scroll">
                    <div class="date">2012 à Aujourd'hui</div>
                    <h4>Autodidacte</h4>
                    <p>C'est à travers mon premier projet en 2012 que j'ai appris à programmer. En effet, je ne connaissais rien à la programmation et grâce aux différents articles et tutoriaux disponibles sur internet, j'ai pu réaliser mon premier projet qui fut jeu vidéo.</p>

                    <div class="date">Juin 2018 à Octobre 2018</div>
                    <h4>Formation Développeur Web PHP / Symfony</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                    <div class="date">2011</div>
                    <h4>BTS Electrotechnique</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                    <div class="date">2009</div>
                    <h4>Bac Electrotechnique</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                </div>
            </div>
            <div class="col span_3">
                <h3>Expériences passées</h3>
                <div class="exp scroll">
                    <div class="date">2018</div>
                    <h4>Stage - Développeur Symfony / Wordpress</h4>
                    <h5>Alpium Factory - Montmélian 73800</h5>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                    <div class="date">2011 - 2017</div>
                    <h4>Adjoint technique service stationnement</h4>
                    <h5>Ville de Chambéry - Vinci Park</h5>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                    <div class="date">2008 - 2010</div>
                    <h4>Awesome company / Front-end Developer</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                    <div class="date">2008 - 2010</div>
                    <h4>Awesome company / Web developer</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                </div>
            </div>
        </div>
        <div class="separator"></div>
    </div>
</section>