<section id="resume" class="site-section resume-section">
    <div class="container">
        <header class="heading">
            <h2>Parcours</h2>
        </header>
        <div class="row">
            <div class="col span_3">
                <h3>Formations</h3>
                <div class="exp scroll">
                    <div class="date">2012 à Aujourd'hui</div>
                    <h4>Autodidacte</h4>
                    <p>C'est à travers mon premier projet en 2012 que j'ai appris à programmer. En effet, je ne connaissais rien à la programmation et grâce aux différents articles et tutoriaux disponibles sur internet, j'ai pu apprendre les bases des différents langages web. Depuis, je poursuis ma démarche d'auto-formation lorsqu'un besoin se présente ou par simple curiosité.</p>

                    <div class="date">Juin 2018 à Octobre 2018</div>
                    <h4>Formation Développeur Web PHP / Symfony</h4>
                    <p>J'ai décidé de réaliser une formation pour consolider mes compétences et les faire valoir grâce à un titre professionnel. Durant cette formation consistant en des mises en situations professionnelles, j'ai été amené à intégrer et adapter des thèmes wordpress, réaliser des sites sous Symfony et prochainement je devrais réaliser une API&nbsp;REST. Cette formation est dispensée par Openclassrooms.</p>

                    <div class="date">2009 à 2011</div>
                    <h4>BTS Electrotechnique</h4>
                    <p>Ce BTS en alternance m'a permit d'acquérir un esprit logique grâce aux différentes matières enseignées. Lors de cette formation j'ai apprécié tout ce qui était lié à l'électronique et l'informatique.</p>

                    <div class="date">2007 à 2009</div>
                    <h4>Bac Electrotechnique</h4>
                    <p>Pas d'informatique sans électricité ! Il s'agit de ma formation initiale.</p>
                </div>
            </div>
            <div class="col span_3">
                <h3>Expériences passées</h3>
                <div class="exp scroll">
                    <div class="date">2018</div>
                    <h4>Stage - Développeur Symfony / Wordpress</h4>
                    <h5>Alpium Factory - Montmélian 73800</h5>
                    <p>
                        Durant mon stage j'ai pu réaliser des migrations et des développements Symfony, ajouter des fonctionnalités à des plugins wordpress ainsi que rendre un site web responsive.<br/>
                        Je tiens à remercier particulièrement les personnes qui se sont rendues disponibles et m'ont beaucoup aidé durant mon stage.
                    </p>

                    <div class="date">2011 - 2017</div>
                    <h4>Adjoint technique service stationnement</h4>
                    <h5>Ville de Chambéry - Vinci Park</h5>
                    <p>
                        Loin du monde de l'informatique, cet emploi fut une belle expérience dans laquelle il fallait être polyvalent.
                        En effet, il fallait être capable de vendre des produits, d'entretenir les infrastructures de stationnement, effectuer des dépannages électriques et électroniques et parfois gérer des situations conflictuelles avec des clients.<br/>
                        J'utilisais parfois mes connaissances en programmation pour faciliter et automatiser des tâches impliquant l'informatique.
                    </p>

                    <div class="date">2008 - 2010</div>
                    <h4>Technicien Électrotechnicien</h4>
                    <p>
                        Lié à mon BTS Electrotechnique en alternance, j'ai travaillé pendant deux au sein d'une entreprise d'electricité ou j'ai pu réaliser des installations électriques dans des bâtiments et concevoir des armoires électriques industrielles.
                    </p>

                </div>
            </div>
        </div>
        <div class="separator"></div>
    </div>
</section>