<section id="resume" class="site-section resume-section">
    <div class="container">
        <header class="heading">
            <h2>Resume</h2>
        </header>
        <div class="row">
            <div class="col span_3">
                <h3>Formations</h3>
                <div class="exp scroll">
                    <div class="date">2012 - Maintenant</div>
                    <h4>Autodidacte</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <div class="date">2000 - 2003</div>
                    <h4>Melbourne University</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <div class="date">1998 - 2000</div>
                    <h4>Great University</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <div class="date">1996 - 1998</div>
                    <h4>Best University</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                </div>
            </div>
            <div class="col span_3">
                <h3>Expériences passées</h3>
                <div class="exp scroll">
                    <div class="date">2018</div>
                    <h4>Stage - Développeur Symfony / Wordpress</h4>
                    <h5>Alpium Factory - Montmélian 73800</h5>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <div class="date">2011 - 2017</div>
                    <h4>Adjoint technique service stationnement</h4>
                    <h5>Ville de Chambéry - Vinci Park</h5>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <div class="date">2008 - 2010</div>
                    <h4>Awesome company / Front-end Developer</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <div class="date">2008 - 2010</div>
                    <h4>Awesome company / Web developer</h4>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="row">
            <div class="col span_3">
                <h3>Skills</h3>
                <div class="skills">
                    <div data-percent="90" class="skill">
                        <div class="progress">Usability</div>
                    </div>
                    <div data-percent="80" class="skill">
                        <div class="progress">Design</div>
                    </div>
                    <div data-percent="100" class="skill">
                        <div class="progress">HTML &amp; CSS</div>
                    </div>
                    <div data-percent="75" class="skill">
                        <div class="progress">Programming</div>
                    </div>
                    <div data-percent="60" class="skill">
                        <div class="progress">SEO &amp; SMO</div>
                    </div>
                </div>
            </div>
            <div class="col span_3">
                <h3>I use</h3>
                <ul class="tools">
                    <li>Photoshop</li>
                    <li>Sketch</li>
                    <li>Atom</li>
                    <li>Gulp</li>
                    <li>Bower</li>
                    <li>Yeoman</li>
                    <li>Sass</li>
                    <li>jQuery</li>
                    <li>Bootstrap</li>
                    <li>Wordpress</li>
                    <li>Git</li>
                </ul>
            </div>
        </div>
    </div>
</section>