<section id="testimonials" class="site-section testimonials-section">
    <div class="container">
        <header class="heading">
            <h2>Testimonials</h2>
        </header>
        <div class="testimonials slideshow">
            <div class="slide">
                <blockquote>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <div class="testimonials-item-photo"><img src="{{asset('assets/template/images/photo-2.jpg')}}" width="50" height="50" alt=""/></div>
                    <cite>Mark Zuckerberg / Facebook</cite>
                </blockquote>
            </div>
            <div class="slide">
                <blockquote>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <div class="testimonials-item-photo"><img src="{{asset('assets/template/images/photo-2.jpg')}}" width="50" height="50" alt=""/></div>
                    <cite>Sergey Brin / Google</cite>
                </blockquote>
            </div>
            <div class="slide">
                <blockquote>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <div class="testimonials-item-photo"><img src="{{asset('assets/template/images/photo-2.jpg')}}" width="50" height="50" alt=""/></div>
                    <cite>Tim Cook / Apple</cite>
                </blockquote>
            </div>
        </div>
    </div>
</section>